<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img src="./assets/images/minecraft_team.jpeg" class="card-img-top w-100 h-100" alt="Minecraft Image">
  <div class="card-body">
    <h3 class="card-title">Minecraft</h3>
    <h4 class="card-subtitle mb-2 text-muted">Minecraft Java Edition</h4>
    <p class="card-text">As you probably know already, due to COVID-19 the 2020 Evergreen State Fair was cancelled. To make up for it we put
      together a team of Minecraft Java players to recreate the fairgrounds. Upon completion we decided to recreate Washington DC. However,
      after we realized the extent of this project we change our focus to the Washington State Capitol.</p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
  <div class="card-footer">
    <image-carousel [images]="minecraftImages"></image-carousel>
  </div>
</div>
