<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img src="./assets/images/minecraft_team.png" class="card-img-top w-100 h-100" alt="Minecraft Image">
  <div class="card-body">
    <h3 class="card-title">Minecraft</h3>
    <h4 class="card-subtitle mb-2 text-muted">Minecraft Java Edition</h4>
    <p class="card-text">Recommended for ages 5-18, Join a team of youth to make scale model builds based on real places using maps, photos,
      and measurements. In 2021, youth built the Evergreen State Fairgrounds and in 2022, they began building the Washington D.C. State
      Capitol. Older youth may become involved in server administration and project management tasks.<br> <strong
        class="text-muted">Meetings year-round on Fridays, 6:30pm-8:30pm on Zoom</strong></p>
  </div>
  <div class="card-footer">
    <image-carousel [images]="minecraftImages"></image-carousel>
  </div>
</div>
