<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img src="./assets/images/frc_team.jpg" class="card-img-top w-100 h-100" alt="FRC Image">
  <div class="card-body">
    <h3 class="card-title">FRC - Team 4309</h3>
    <h4 class="card-subtitle mb-2 text-muted">FIRST Robotics Competition</h4>
    <p class="card-text"> Combining the excitement of sport with the rigors of science and technology. We call FIRST Robotics Competition
      the ultimate Sport for the Mind. High-school student participants call it “the hardest fun you'll ever have.” Under strict rules,
      limited time and resources, teams of students are challenged to raise funds, design a team "brand," hone teamwork skills, and build
      and program industrial-size robots to play a difficult field game against like-minded competitors. It's as close to real-world
      engineering as a student can get. Volunteer professional mentors lend their time and talents to guide each team. </p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer">
    <div class="container color-scheme-tertiary py-3">
      <h2>Roles:</h2>
      <h3>Here is a list of some of the roles you could have</h3>
      <dl>
        <dt>Mechanic</dt>
        <dd>Someone to help build and maintain the robot</dd>
        <dt>Electrician</dt>
        <dd>Someone to wire the robot and troubleshoot faulty connections</dd>
        <dt>Safety Captain</dt>
        <dd>Someone to make sure that the robot and pit is safe at competitions</dd>
        <dt>Programmer</dt>
        <dd>Someone to program the robot and make it function</dd>
      </dl>
    </div>
    <image-carousel [images]="frcImages"></image-carousel>
  </div>
</div>
