<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img [src]="frcImage?.path" class="card-img-top color-scheme-tertiary" [alt]="frcImage?.name"
    style="aspect-ratio: 4/3; width: 100%;object-fit:contain;object-position: center; height: 75vh;">
  <div class="card-body">
    <h3 class="card-title">FRC - Team 4309</h3>
    <h4 class="card-subtitle mb-2 text-muted">FIRST Robotics Competition</h4>
    <p class="card-text"> Recommended for ages 14-18, kids design, build, and operate a large robot from custom parts to compete in a
      head-to-head competition in a 3-team alliance format. The size of FRC teams allows members to specialize their skills. Build season
      begins in January and Competitions begins in March. Teams are minimally 12 members.<br> <strong class="text-muted">Meetings Tuesday,
        Thursday, and Saturday during build season; weekly afterward</strong></p>
  </div>
  <div class="card-footer">
    <div class="container color-scheme-tertiary py-3">
      <h2>Roles:</h2>
      <h3>Here is a list of some of the roles you could have</h3>
      <dl>
        <dt>Mechanic</dt>
        <dd>Someone to help build and maintain the robot</dd>
        <dt>Electrician</dt>
        <dd>Someone to wire the robot and troubleshoot faulty connections</dd>
        <dt>Safety Captain</dt>
        <dd>Someone to make sure that the robot and pit is safe at competitions</dd>
        <dt>Programmer</dt>
        <dd>Someone to program the robot and make it function</dd>
      </dl>
    </div>
    <image-carousel [images]="frcImages"></image-carousel>
  </div>
</div>
