<div class="text-center">
  <h1>Error 404</h1>
  <h2>Page Not Found</h2>
</div>
<div class="text-center" style="display:none">
  <ul>
    <h3>Maybe You Were Looking For:</h3>
    <li>Our <a [class.text-info]="colorScheme.darkMode" routerLink="/home">Homepage</a></li>
    <li>Our <a [class.text-info]="colorScheme.darkMode" routerLink="/sponsors">Sponsors</a> Page</li>
    <li>Our <a [class.text-info]="colorScheme.darkMode" routerLink="/news">News</a> Page</li>
    <li>Our <a [class.text-info]="colorScheme.darkMode" routerLink="/programs/frc">FRC</a> Team</li>
    <li>Our <a [class.text-info]="colorScheme.darkMode" routerLink="/programs/ftc">FTC</a> Team</li>
    <li>Our <a [class.text-info]="colorScheme.darkMode" routerLink="/programs/fll/challenge">FLL</a> Team</li>
    <li>Our <a [class.text-info]="colorScheme.darkMode" routerLink="/programs/fll/explore">FLL Jr.</a> Team</li>
    <li>Our <a [class.text-info]="colorScheme.darkMode" routerLink="/programs/minecraft">Minecraft</a> Team</li>
  </ul>
</div>
