<div class="text-center" *ngIf="!url">
  <h1>Error 404</h1>
  <h2>Page Not Found</h2>
</div>
<div class="text-center" *ngIf="url">
  <h3 *ngIf="countdown > 0">Redirecting to <a [routerLink]="url"
      [class.link-info]="colorScheme.darkMode">https://www.botsmiths.org{{url}}</a> in {{countdown}}
  </h3>
  <h3 *ngIf="countdown === 0">Redirecting...</h3>
  <br>
  <button type="button" (click)="url = undefined" class="btn btn-secondary">Cancel</button>
</div>
<div class="text-center">
  <br>
  <h4 *ngIf="urls.length">Maybe you wanted: </h4>
  <ul>
    <li *ngFor="let url1 of urls" class="h5"><a [routerLink]="url1"
        [class.link-info]="colorScheme.darkMode">https://www.botsmiths.org{{url1}}</a></li>
  </ul>
</div>
