<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img src="./assets/images/ftc_team.JPG" class="card-img-top w-100 h-100" alt="FTC Image">
  <div class="card-body">
    <h3 class="card-title">FTC - Team 18693</h3>
    <h4 class="card-subtitle mb-2 text-muted">FIRST Tech Challenge</h4>
    <p class="card-text"> FIRST Tech Challenge teams (up to 15 team members, grades 7-12) are challenged to design, build, program, and
      operate robots to compete in a head-to-head challenge in an alliance format. Guided by adult coaches and mentors, students develop
      STEM skills and practice engineering principles, while realizing the value of hard work, innovation, and working as a team. The robot
      kit is reusable from year to year and can be coded using a variety of levels of Java-based programming. Teams design and build robots,
      raise funds, design and market their team brand, and do community outreach to earn specific awards. </p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer">
    <image-carousel [images]="ftcImages"></image-carousel>
  </div>
</div>
