<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img [src]="ftcImage?.path" class="card-img-top w-100 h-100" [alt]="ftcImage?.name">
  <div class="card-body">
    <h3 class="card-title">FTC - Team 18693 <br> On Hold Due To Lack Of Members</h3>
    <h4 class="card-subtitle mb-2 text-muted">FIRST Tech Challenge</h4>
    <p class="card-text">Recommended for ages 13-18, kids use Metal, plastic, and 3D-printed parts to design, build, and operate 18” robots
      to compete in a head-to-head challenges in a 2-team alliance format using programs written in Java. Members then compete at FIRST
      competitions in November and December. Teams are typically 8-15 members.<br> <strong class="text-muted">Meetings Tuesday, Thursday,
        and Saturday during build season. Most members move to FRC after build season</strong></p>
  </div>
  <div class="card-footer">
    <image-carousel [images]="ftcImages"></image-carousel>
  </div>
</div>
