<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img src="{{fllChallengeImage?.src}}" class="card-img-top w-100 h-100" alt="FLL Challenge Image">
  <div class="card-body">
    <h3 class="card-title">FLL Challenge - Team 22311</h3>
    <h4 class="card-subtitle mb-2 text-muted">FIRST Lego League Challenge</h4>
    <p class="card-text"> FIRST LEGO League introduces science, technology, engineering and math (STEM) through fun, exciting hands-on
      learning. FIRST LEGO League participants gain real-world problem-solving experiences through a guided, global robotics program,
      helping today's students and teachers build a better future together. In FIRST LEGO League, students engage in hands-on STEM
      experiences, building confidence, growing their knowledge and developing habits of learning. FIRST LEGO League's three divisions
      inspire youth to experiment and grow their critical thinking, coding and design skills through hands-on STEM learning and robotics.
      <br> Friendly competition is at the heart of Challenge, as teams of students ages 9-16 engage in research, problem-solving, coding and
      engineering - building and programming a LEGO robot that navigates the missions of a robot game. As part of Challenge, teams also
      participate in a research project to identify and solve a relevant real-world problem. </p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
  <div class="card-footer">
    <image-carousel [images]="fllChallengeImages"></image-carousel>
  </div>
</div>
