<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img [src]="fllChallengeImage?.path" class="card-img-top w-100 h-100" [alt]="fllChallengeImage?.name">
  <div class="card-body">
    <h3 class="card-title">FLL Challenge - Team 22311</h3>
    <h4 class="card-subtitle mb-2 text-muted">FIRST Lego League Challenge</h4>
    <p class="card-text">Recommended for ages 9-13, kids use LEGO Mindstorms EV3s or LEGO Spike Prime robotics kits to design and build
      mobile robots to complete on an obstacle course and build moderately complex programs using block programming. Members then compete at
      FIRST competitions in December. Spring activities build skills for future competition. Teams are typically 4-8 members <br> <strong
        class="text-muted">Meetings September-June on Wednesday's, 6:00-8:00pm</strong></p>
  </div>
  <div class="card-footer">
    <image-carousel [images]="fllChallengeImages"></image-carousel>
  </div>
</div>
