<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img src="{{fllExploreImage?.src}}" class="card-img-top w-100 h-100" alt="FLL Explore Image">
  <div class="card-body">
    <h3 class="card-title">FLL Explore - Team 8999</h3>
    <h4 class="card-subtitle mb-2 text-muted">FIRST Lego League Explore</h4>
    <p class="card-text"> FIRST LEGO League introduces science, technology, engineering and math (STEM) through fun, exciting hands-on
      learning. FIRST LEGO League participants gain real-world problem-solving experiences through a guided, global robotics program,
      helping today's students and teachers build a better future together. In FIRST LEGO League, students engage in hands-on STEM
      experiences, building confidence, growing their knowledge and developing habits of learning. FIRST LEGO League's three divisions
      inspire youth to experiment and grow their critical thinking, coding and design skills through hands-on STEM learning and robotics.
      <br> In Explore, teams of students ages 6-10 focus on the fundamentals of engineering as they explore real-world problems, learn to
      design and code and create unique solutions made with LEGO bricks and powered by LEGO Education robot. </p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
  <div class="card-footer">
    <image-carousel [images]="fllExploreImages"></image-carousel>
  </div>
</div>
