<div class="card text-center container color-scheme-secondary w-75">
  <div class="card-header">
  </div>
  <img [src]="fllExploreImage?.path" class="card-img-top w-100 h-100" [alt]="fllExploreImage?.name">
  <div class="card-body">
    <h3 class="card-title">FLL Explore - Team 8999</h3>
    <h4 class="card-subtitle mb-2 text-muted">FIRST Lego League Explore</h4>
    <p class="card-text">Recommended for ages 5-8, kids use LEGO Spike Essentials robotics kits to build simple robots and build basic
      programs with block programming. Members exhibit a project non-competitively in the spring. Parents should plan to attend.<br>
      <strong class="text-muted">Meetings October-June on Wednesday's, 6:00-7:30pm</strong>
    </p>
  </div>
  <div class="card-footer">
    <image-carousel [images]="fllExploreImages"></image-carousel>
  </div>
</div>
